# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Poetry-specific files
poetry.lock

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.cache

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# pyenv
.python-version

# VS Code
.vscode/
*.code-workspace

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# PyCharm
.idea/
*.iml

# Local configuration files
*.local

# Secret files
*.pem
*.key

# Logs
*.log

# Temporary files
tmp/
temp/
